* { 
    box-sizing: border-box;
    margin: 0;
   }
body {
    font-family: 'Open Sans', sans-serif;
}

.topo { background-color: #1d2126;
        padding-top: 25px;
        padding-bottom: 25px;
}

.navegação {
    display: flex;
    align-items: center;
   
}

.menu{
    display: flex; 
    list-style: none;
    margin-left: auto;
    padding-left: 0;

}

.menu a {
    color: #a4aead;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    
    
}

.menu a:hover {
    border-color: #5b6168;
    }

.intro{
    background-image: url(../imagen/intro.jpg);
    height: 650px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.intro-titulo{
    color: #ffffff;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
}

.intro p{
    color: #ccd0d7;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 26px;
}

.botao{
    display: inline-block;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    color: #ffffff;
}
.botao:hover{
    background-color: #23b7a4;
    border-color: #23b7a4;
}

.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    

}

.somos {
    margin-top: 80px;
    margin-bottom: 80px;
    border-bottom: 1px solid #dde1e4;
}

.titulo {
    color: #292f36;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 50px;
    border-left: #e1e6ea 10px solid;
    padding-left: 15px;
    line-height: 1; 
}

.somos p {
    color:#8d8f92;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 26px;
}
.redes {
    display: flex;
    padding-top: 50px;
    margin-bottom: 15px;
}

.redes a {
    background-color:  #576a86;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px; 
    margin-right: 1px;
    margin-left: 1px;
}

.redes a:hover{
    background-color: #5c5c5c5c;
}

.subtitulo{
    color: #292f36;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;

}

.somos-esquerda{
    grid-column: span 7;
}

.equipe {
    padding-top: 80px;
    padding-bottom: 80px;
}

.somos-direita{
    grid-column: span 5;
}

.equipe-texto{
    background-color: #e1e6ea;
    padding: 20px;
}

.equipe img{
    display: block;
    width: 100%;
}

.equipe-nome{
    color: #292f36;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600px;
}

.equipe-cargo{
    color: #8d8f92;
    font-size: 14px;
}

.membro{
    grid-column: span 3
}

.membro:hover .equipe-texto{
    background-color: #3a454d;
}

.membro:hover .equipe-nome{
    color: #fff;
}

.membro:hover .equipe-cargo{
    color: #fff;
}

.bx-wrapper {
    border: 0;
    box-shadow: none;
}

.bx-wrapper .bx-controls-direction a {
    display: none;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: 30px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: transparent;
    border: #ffffff 2px solid;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active,
 .bx-wrapper ,.bx-pager.bx-default-pager a:focus{
     background-color: #ffffff;
 } 

/*TABLER*/

@media (max-width: 1139px) {
    .container{
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;

    }
}

/*CELULAR*/

@media (max-width: 767px) {
    .menu{
        display: none;
    }
    .navegação {
        display: block;
        text-align: center;
    }
}